* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* header */
.bg-img {
    background-image: url("images/banner/banner1.png");
    background-repeat: no-repeat;
    height: 100vh;
}
.banner {
    padding: 216px 220px 365px 800px;
    text-align: right;
    color: #151414 ;
}
.banner .heading {
    font-size: 65px;
}
.banner .content {
    font-size: 16px;
    padding-top: 5px;
    padding-bottom: 15px;
}
.banner .btn-primary {
    background-color: orangered;
    color: #ffffff;
    height: 35px;
    width: 100px;
    text-align: center;
    font-family: 'Work sans';
    border-radius: 5px;
}
/* main  */

.common .m-img {
    display: flex;
}
.text-content {
    text-align: center;
}
.text-heading {
    font-size: 45px;
    color: #151414;
    padding-left: 30px;
}
.common .m-img .img {
    padding: 50px 0 0 206px;
}
.common .m-img .text {
    padding: 370px 322px 0 85px;
}
/* My plans  */
.plans .plans-heading {
    padding: 0 810px;
    width: 165px;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 40px;
    width: 350px;
}
.plans .plans-content {
    display: flex;
    text-align: center;
}
.plans-content {
    padding-left: 500px;
}
.plans-description-2 {
    padding-left: 50px;
    padding-right: 50px;
}
.plans-description-4 {
    padding-left: 50px;
}
/* gradient overlay */
.gradient {
    padding: 100px 200px 0 400px;
}
.gradient .container {
    background: url("images/gradient2.png");
    color: #ffffff;
    position: relative;
    height: 100vh;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}
h1{
    padding-top: 50px;
    padding-left: 25px;
    font-size: 60px;
}
.btn {
    background-color: #ffffff;
    color: orangered;
    height: 35px;
    width: 100px;
    text-align: center;
    font-family: 'Work sans';
    border-radius: 5px;
    margin-left: 25px;
}
/* footer  */
.footer {
    display: flex;
    background-color: #151414;
    
}
.footer .footer-styles {
    color: #ffffff;
    padding: 50px 250px 50px 50px;
}
.footer .footer-styles-2 {
    color: #ffffff;
    padding: 50px 50px 0 250px;
}
.footer .footer-styles-2 .footer-btn {
    border-radius: 5px;
}